/* mobile */

div{
    margin-right: -4px;
    margin-bottom: -5px;
}

.rosado{
    background-color: pink;
    height: calc(800px*0.25);
    width: 100%;
    
}

.verde{
    background-color: green;
    height: calc(800px*0.25);
    width: 100%;
}

.azul{
    background-color: blue;
    height: calc(800px*0.1);
    width: 100%;
}

.gris{
    background-color: grey;
    height: calc(800px*0.4);
    width: 100%;
    
}

.rojo{
    background-color: red;
    height: calc(800px*0.25);
    width: 100%;
    display: none;
}

.morado{
    background-color: purple;
    height: calc(800px*0.5);
    display: none;
}


/* tablet */

@media(min-width:501px) and (max-width:750px){
    .col-sm-12{width: 100%;}
    .col-sm-11{width: 91.66666667%;}
    .col-sm-10{width: 83.33333334%;}
    .col-sm-9{width: 75%;}
    .col-sm-8{width: 66.66666667%;}
    .col-sm-7{width: 58.33333334%;}
    .col-sm-6{width: 50%;}
    .col-sm-5{width: 41.66666667%;}
    .col-sm-4{width: 33.33333334%;}
    .col-sm-3{width: 25%;}
    .col-sm-2{width: 16.66666667%;}
    .col-sm-1{width: 8.33333333%;}
    
    .verde, .azul, .rojo, .morado, .gris{
        display: inline-block;
    }
    .azul{
        height: calc(800px*0.25);
    }
    .gris{
        height: calc(800px*0.5);
    }
}

/* desktop */

@media(min-width:750px) {
    .col-md-12{width: 100%;}
    .col-md-11{width: 91.66666667%;}
    .col-md-10{width: 83.33333334%;}
    .col-md-9{width: 75%;}
    .col-md-8{width: 66.66666667%;}
    .col-md-7{width: 58.33333334%;}
    .col-md-6{width: 50%;}
    .col-md-5{width: 41.66666667%;}
    .col-md-4{width: 33.33333334%;}
    .col-md-3{width: 25%;}
    .col-md-2{width: 16.66666667%;}
    .col-md-1{width: 8.33333333%;}

    .rosado{
        height: calc(800px*0.075);
    }
    .verde{
        height: calc(800px*0.275);
    }
    .azul{
        height: calc(800px*0.375);
    }
    .rojo,  .morado, .gris{
        display: inline-block;
        height: calc(800px*0.275);
    }
}